apiVersion: v1
kind: Service
metadata:
  name: mongo-service
spec:
  selector:
    app: mongo
  ports:
    - protocol: TCP
      port: 27017       # ClusterIP port
      targetPort: 27017 # Pod port
  type: ClusterIP       # Internal only

